{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center h-100 min-vh-100 align-items-center position-relative">
        <div class="col-auto col-md-6 col-lg-4 p-5">
            <form method="post" class='d-grid gap-3'>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3 position-absolute top-0 start-0 m-3">
                        <a href="{{ path('app_logout') }}" class="btn btn-danger">
                            <i class="fas fa-door-open me-3"></i>

                            {{ app.user.userIdentifier }}

                        </a>
                    </div>
                {% endif %}

                {# <h1 class="h3 mb-3 font-weight-normal">
                    Please sign in
                </h1> #}
                <label for="username">
                    Email
                </label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    <label for="password">
                        {{ 'Mot de passe'|trans }}
                    </label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="mb-2">
                                {% if not app.user %}
                                    <a href="{{ path('app_forgot_password_request') }}" class='link-primary'>
                                        {{ 'Réinitialiser votre mot de passe.'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                            <button class="btn btn-lg btn-primary" type="submit">
                                Connexion
                            </button>
                        </form>

                    </div>
                </div>
            {% endblock %}
            