{% extends './_part/_modeleFormBg.html.twig' %}
{% block form %}

    <div class="w-75">

        <div class="">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                </div>
            {% endfor %}
            <h1>
                Inscription
            </h1>
            {% if email is defined %}
                <span class='fs-3'>
                    {{ email }}
                </span>
            {% endif %}

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {# {{ form_row(registrationForm.email) }} #}

            {% if registrationForm.terms is defined %}
                <!-- Modal -->
                {% include './_part/_modal_mention.html.twig' %}
            {% endif %}
            {{ form_rest(registrationForm) }}

            {% if registrationForm.terms is defined %}
                <!-- Button trigger modal -->

                {% include './_part/_button_modal.html.twig' %}

            {# data-bs-target="#exampleModal"> #}
            {% endif %}

            {% if registrationForm.terms is not defined %}
                <button type="submit" class="btn btn-primary">
                    {{ buttonLabel }}
                </button>
            {% endif %}

            {{ form_end(registrationForm) }}
        </div>
    </div>
    <script>
// Sélection de tous les formulaires sur la page
const forms = document.querySelectorAll('form');

// Ajout d'un écouteur d'événement keypress à chaque formulaire
forms.forEach(form => {
  form.addEventListener('keypress', function(e) {
    // Vérification si la touche pressée est la touche "Entrée" (code 13)
    if (e.which === 13 || e.keyCode === 13) {
      e.preventDefault(); // Empêcher le comportement par défaut (soumission du formulaire)
      return false; // Empêcher la propagation de l'événement
    }
  });
});
    </script>

{% endblock %}
