{% extends './_part/_modeleFormBg.html.twig' %}
{% block form %}

    <div class="w-75">

        <div class="">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                </div>
            {% endfor %}
            <h1>
                Inscription
            </h1>
            {% if email is defined %}
                <span class='fs-3'>
                    {{ email }}
                </span>
            {% endif %}

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {# {{ form_row(registrationForm.email) }} #}

            {% if registrationForm.terms is defined %}
                <!-- Modal -->
                {% include './_part/_modal_mention.html.twig' %}
            {% endif %}
            {{ form_rest(registrationForm) }}

            {% if registrationForm.terms is defined %}
                <!-- Button trigger modal -->

                {% include './_part/_button_modal.html.twig' %}

            {# data-bs-target="#exampleModal"> #}
            {% endif %}

            {% if registrationForm.terms is not defined %}
                <button type="submit" class="btn btn-primary">
                    {{ buttonLabel }}
                </button>
            {% endif %}

            {{ form_end(registrationForm) }}
        </div>
    </div>
    <script>
const form = document.getElementById('{{ registrationForm.vars.id }}');
        // Listen for keydown events on the form
        form.addEventListener('keydown', function(event) {
            // Check if the pressed key is Enter
            if (event.key === 13) {
                // Prevent the default form submission
                event.preventDefault();
            }
        });
    </script>

{% endblock %}
