<p>
    <strong>
        {{ 'Dernière mise à jour' | trans }}
    </strong>
    {{ "now" | date }}
</p>
<section class="mb-4">
    <h2 class="h4">
        {{ '1. Acceptation des Conditions' | trans }}
    </h2>
    <p>
        {{ "En accédant à notre site web et en vous inscrivant, vous acceptez d'être lié par les présentes conditions d'utilisation. Nous nous réservons le droit de modifier ces conditions à tout moment sans préavis. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications." | trans }}
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        {{ '2. Utilisation du Site' | trans }}
    </h2>
    <p>
        {{ "Vous acceptez d'utiliser ce site uniquement à des fins légales et conformément aux lois en vigueur. Il vous est interdit d'utiliser le site d'une manière qui pourrait endommager, désactiver, surcharger ou détériorer le site ou interférer avec l'utilisation et la jouissance du site par d'autres utilisateurs." | trans }}
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        {{ '3. Inscription et Sécurité du Compte' | trans }}
    </h2>
    <p>
        {{ "Pour accéder à certaines fonctionnalités, vous devez vous inscrire en fournissant des informations précises, complètes et à jour. Vous êtes responsable de la sécurité de votre compte et des activités effectuées sous votre compte. Vous devez informer immédiatement l'administration du site de toute utilisation non autorisée de votre compte ou de toute autre violation de la sécurité." | trans }}
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        {{ '4. Données Personnelles' | trans }}
    </h2>
    <p>
        {{ "Nous respectons votre vie privée. Veuillez consulter notre Politique de confidentialité pour des informations détaillées sur la manière dont nous collectons, utilisons et protégeons vos données personnelles." | trans }}
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        {{ '5. Contenu Utilisateur' | trans }}
    </h2>
    <p>
        {{ "En publiant ou en téléchargeant du contenu sur notre site, vous nous accordez une licence non exclusive, mondiale, gratuite et perpétuelle pour utiliser, reproduire, modifier, afficher et distribuer ce contenu dans le cadre de l'exploitation du site. Vous déclarez et garantissez que vous détenez tous les droits nécessaires pour accorder cette licence." | trans }}
    </p>
</section>
<section class="mb-4">
    <h2 class="h4">
        