{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Mairie-Nouveau mot de passe'|trans }}
{% endblock %}
{% block body %}

    <div class="d-flex justify-content-center h-100 min-vh-100 align-items-center position-relative">
        <div class="col-auto col-md-6 col-lg-4 p-5">

            <div class="d-grid gap-3">
                <h1>
                    {{ 'set_new_password_title'|trans }}
                </h1>
                <span class='fs-3'>
                    {{ email }}
                </span>
                <span ='lead'>
                    {{ 'set_new_password_description_text'|trans }}
                </span>
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary w-100">
                    {{ 'Enregistrer'|trans }}
                </button>
                {{ form_end(resetForm) }}
            </div>

        </div>
    </div>
{% endblock %}
