{% extends './_part/_modeleFormBg.html.twig' %}
{% block title %}
    Edition du profil
{% endblock %}
{% block form %}
    <div class="w-75">

        <div class="">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                </div>
            {% endfor %}
            <h1>
                Edition du profil
            </h1>
            {{ form_errors(form) }}

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="d-flex jutify-content-between">
                <div class="">
                    <button class="btn btn-success">
                        <i class="fas fa-check me-2"></i>
                        {{ button_label|default('Save') }}
                    </button>
                </div>

                {# {{ include('profil/_form.html.twig', {'button_label': button_label}) }} #}

                <div class="">
                    <a href="{{ path('app_profil_show') }}" class="btn btn-warning">
                        <i class="fas fa-door-open me-2"></i>
                        Annuler
                    </a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
