{% extends 'base.html.twig' %}
{% block title %}
    User
{% endblock %}
{% block body %}
    <div class="container vh-100" style="background-image:url('{{ asset('image/champ-arbres-herbe.jpg') }}');">
        <div class="row h-100 p-0">
            <div class="d-md-flex col-lg-4 p-0">
                <div class="container d-flex justify-content-center align-items-center bg-60 m-0">
                    <div class="w-75">
                        <div class="">
                            <h1 class='mb-3'>
                                Profil
                            </h1>
                            <h2 class='mb-3 fs-4'>
                                {{ user.email }}
                            </h2>
                            {{ form_start(profilForm) }}
                            {{ form_row(profilForm.lastname,{'attr': {'disabled': true }}
                            ) }}
                            {{ form_row(profilForm.firstname,{'attr': {'disabled': true }}
                            ) }}
                            {{ form_row(profilForm.birthAt,{'attr': {'disabled': true }}
                            ) }}
                            {{ form_end(profilForm,{'render_rest':false}) }}
                            <a href="{{ path('app_profil_edit') }}" class="">
                                aazzaza
                            <i class="fas fa-pencil me-2"></i>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# {{ include('profil/_delete_form.html.twig') }} #}
