{% extends './_part/_modeleFormBg.html.twig' %}
{% block title %}
    Edition du profil
{% endblock %}
{% block form %}
    <div class="w-75">

        <div class="">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                </div>
            {% endfor %}
            <h1>
                Edition du profil
            </h1>
            {{ form_errors(form) }}
            <div class="d-flex justify-content-between">
                <span class="fs-2">
                    {{ user.email }}
                </span>
                <button onclick="requestEditMail(this,'{{ path('app_reset_mail') }}')" class="btn btn-primary">

                    Changer de mail
                </button>
            </div>
            {{ form_start(form) }}
            {{ form_row(form.password) }}
            {{ form_widget(form) }}

            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success w-100 mb-2">
                        <i class="fas fa-check me-2"></i>
                        {{ button_label|default('Save') }}
                    </button>
                </div>

                {# {{ include('profil/_form.html.twig', {'button_label': button_label}) }} #}

                <div class="col-md-6">
                    <button class="btn btn-warning w-100 mb-2" onclick="window.location.href='{{ path('app_profil') }}'">
                        <i class="fas fa-door-open me-2"></i>
                        Annuler
                    </button>
                </div>
            </div>
            {{ form_end(form,{'render_rest':false}) }}
        </div>
    </div>
{% endblock %}
