<tbody id="tableauProfilTbody" class="">
    {% for user in users %}
        <tr id="row-{{ user.id }}" onclick="toggleCheckbox('checkBox-{{ user.id }}')">
            <td scope="row">
                <input id="checkBox-{{ user.id }}" class="form-check-input" type="checkbox" value="{{ user.id }}"></td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <span class="badge text-bg-warning">
                            Admin
                        </span>
                    {% else %}
                        <span class="badge text-bg-success">
                            User
                        </span>
                    {% endif %}
                </td>
                <td>
                    {% if user.isVerified %}
                        <i class="fas fa-check text-success"></i>
                    {% else %}
                        <i class="fas fa-xmark text-danger"></i>
                    {% endif %}
                </td>
                <td>
                    {{ user.firstname }}
                    {{ user.lastname }}
                </td>
            </tr>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">
                No records found
            </td>
        </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td colspan="100">
                {% if users|length > 0 %}
                    {{ users|length }}
                    profils utilisateurs.
                {% else %}
                    aucuns profils utilisateurs.
                {% endif %}
            </td>
        </tr>
    </tfoot>
</tbody>
