<div class="modal-content position-relative">
	<div class="modal-header ">
		<h5 class="modal-title" id="modalTitleId">
			{{'title_user_edit'|trans}}
		</h5>
		<div id='errorEdit' class="alert alert-danger position-absolute top-0 start-50 translate-middle-x hidden" role="alert">
			
		</div>


		<button type="button" id="closeModalEdit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div
				class=" grid gap-2">
				{# Commence le formulaire #}
				{{ form_start(form) }}

				{# Affiche les erreurs globaux du formulaire #}
				{{ form_errors(form) }}

				{# Affiche chaque champ individuellement, avec label, widget et erreurs #}
				<div class="form-group row mt-2">
					<div class="col-12 col-lg-6">
						<div class="d-flex flex-row justify-content-start">
							<div class="">
								{{ form_label(form.email) }}
							</div>
							<div class="mx-4">
								{% if user.isVerified %}
									<i class="fas fa-check text-success"></i>
									{{'user_verified'|trans}}
								{% else %}
									<i class="fas fa-xmark text-danger"></i>
									{{'user_not_verified'|trans}}
								{% endif %}
							</div>
						</div>
						{{ form_widget(form.email) }}
					</div>
					<div class="col-12 col-lg-6 d-flex align-items-center pt-4 justify-content-between">
						<div class="row mx-auto">
							<div class="col-lg-4 d-flex justify-content-center">
								{{ form_label(form.roles) }}
								<div class="">
									{{ form_widget(form.roles,{'attr':{'class':'mt-2'}}) }}
								</div>
							</div>
							{# <div class="col-lg-8 d-flex justify-content-center mt-5 mt-lg-0"></div> #}
						</div>
					</div>
				</div>
				<div class="form-group row mt-4">
					<div class="col-12 col-md-6">
						{{ form_row(form.lastname) }}
					</div>
					<div class="col-12 col-md-6">
						{{ form_row(form.firstname) }}
					</div>
				</div>

				<div class="form-group row mt-4">
					<div class="col-12 col-md-6">
						{{ form_row(form.birthAt) }}
					</div>
					<div
						class="col-12 col-md-6">{# {{ form_row(form.createdAt) }} #}
					</div>
				</div>
				{# Bouton de soumission #}
				<div class="modal-footer row d-grid gap-2 d-flex flex-row justify-content-between">
					<div class="col-12 col-lg-4">
						<div class="d-grid gap-2 w-100">
							<button type="button" name="" id="btnReturn" class="btn btn-primary" data-bs-dismiss="modal">
								<i class="fas fa-door-open me-1"></i>
								{{'btn_return'|trans}}
							</button>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="form-group w-100">
							<button type="submit" class="btn btn-warning w-100" data-id-user="{{user.id}}">
								<i class="fas fa-save me-2"></i>
								{{'btn_edit_valide'|trans}}
							</button>
						</div>
					</div>
				</div>
				{# Termine le formulaire #}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
