{# {% extends 'base.html.twig' %}
    
    
{% block body %} #}


<div class="row row-cols-lg-2">
	<div class="">
		<table class="table table-secondary">
			<tbody>
				<tr>
					<th class="table-dark">
						Email
					</th>
					<td class="text-end">
						{{ user.email }}
						{% if user.isVerified %}
							<i class="fas fa-check text-success"></i>
						{% else %}
							<i class="fas fa-xmark text-danger"></i>
						{% endif %}

					</td>
				</tr>
				<tr>
					<th class="table-dark">
						Roles
					</th>
					<td class="text-end">
						{% if 'ROLE_ADMIN' in user.roles %}
							<span class="badge text-bg-warning">
								Admin
							</span>
						{% else %}
							<span class="badge text-bg-success">
								User
							</span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th class="table-dark">
						Lastname
					</th>
					<td class="text-end">
						{{ user.lastname }}
					</td>
				</tr>
				<tr>
					<th class="table-dark">
						Firstname
					</th>
					<td class="text-end">
						{{ user.firstname }}
					</td>
				</tr>
				<tr>
					<th class="table-dark">
						CreatedAt
					</th>
					<td class="text-end">
						{{ user.createdAt ? user.createdAt|date('d-m-Y H:i:s') : '' }}
					</td>
				</tr>
				<tr>
					<th class="table-dark">
						BirthAt
					</th>
					<td class="text-end">
						{{ user.birthAt ? user.birthAt|date('d-m-Y') : '' }}
					</td>
				</tr>
				<tr>
					<th class="table-dark">
						<button name="" id="buttonResetAdmin" class="btn btn-primary" onclick="resetPasswordAdmin({{user.id}},this);" role="button">{{'btn_reset_password'|trans}}</button>
					</th>
				</tr>
			</tbody>
		</table>
		<div class="d-flex flex-row justify-content-between">
			<div class="d-grid gap-2">
				<button type="button" name="" id="btnReturn" class="btn btn-primary" data-bs-dismiss="modal">
					<i class="fas fa-door-open me-1"></i>
					{{'btn_return'|trans}}
				</button>
			</div>
			<div class="d-grid gap-2">
				<button type="button" class="btn btn-warning" data-id-user="{{user.id}}" onclick="editFromShow(this)">
					<i class="fas fa-pencil me-1"></i>
					{{'btn_edit'|trans}}
				</button>
			</div>
			<div class="d-grid gap-2">
				<button type="button" class="btn btn-danger" data-id-user="{{user.id}}" onclick="deleteFromShow(this)">
					<i class="fas fa-trash-can me-1"></i>
					{{'btn_delete'|trans}}
				</button>
			</div>
		</div>
	</div>
</div>


{# {% endblock %} #}
